@font-face {
    font-family: "Myriadprod-Regular";
    src: url('../fonts/Myriadprod-Regular.woff') format('woff'),
    url('../fonts/Myriadprod-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Jarbomhollow";
    src: url('../fonts/Jarbomhollow.woff') format('woff'),
    url('../fonts/Jarbomhollow.ttf') format('truetype');
}