@import 'fonts.scss';

*{
    margin: 0;
    padding: 0;
}

#Logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 202px;
    height: 118px;
    background-image: url('../images/controls/logo_agr-01.png');
    z-index: 100;
}

#Map{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Indicators{
    position: fixed;
    bottom: 40px;
    left: 30px;
    background-color: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    padding: 4px 2px;
    border-radius: 4px;
    .btn-indicator{
        position: relative;
        cursor: pointer;
        .frame{
            width: 60px;
            height: 60px;
            background-size: cover;
        }
        .frame:hover + .tag{ opacity: 1; }
        .tag {
            position: absolute;
            top: -65px;
            right: -65px;
            width: 85px;
            height: 85px;
            background-size: cover;
            opacity: 0;
            transition: .6s all;
        }
    }
    #BtnAuditoria{
        .frame{ 
            background-image: url('../images/controls/btn_auditoria_rollout.png'); 
            &:hover{ background-image: url('../images/controls/btn_auditoria_rollover.png'); }
        }
        .tag{ background-image: url('../images/controls/etiqueta_auditoria.png'); }
    }

    #BtnBiblioteca{
        .frame{ 
            background-image: url('../images/controls/btn_biblioteca_rollout.png');
            &:hover{ background-image: url('../images/controls/btn_biblioteca_rollover.png'); }
        }
        .tag{ background-image: url('../images/controls/etiqueta_biblioteca.png'); }
    }

    #BtnColegio{
        .frame{ 
            background-image: url('../images/controls/btn_colegio_rollout.png');
            &:hover{ background-image: url('../images/controls/btn_colegio_rollover.png'); }
        }
        .tag{ background-image: url('../images/controls/etiqueta_colegio.png'); }
    }
    /*
    #BtnConstruccion{
        .frame{ background-image: url('../images/controls/btn_construccion_rollout.png'); }
        .tag{ background-image: url('../images/controls/etiqueta_construccion.png'); }
        &:hover{
            .frame{ background-image: url('../images/controls/btn_construccion_rollover.png'); }
            .tag{ opacity: 1; }
        }
    }
    */
    #BtnContraloria{
        .frame{ 
            background-image: url('../images/controls/btn_contraloria_rollout.png');
            &:hover{ background-image: url('../images/controls/btn_contraloria_rollover.png'); }
        }
        .tag{ background-image: url('../images/controls/etiqueta_contraloria.png'); }
    }

    #BtnGobernacion{
        .frame{ 
            background-image: url('../images/controls/btn_gobernacion_rollout.png');
            &:hover{ background-image: url('../images/controls/btn_gobernacion_rollover.png'); }
        }
        .tag{ background-image: url('../images/controls/etiqueta_gobernacion.png'); }
    }
}

#Controls{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #0009;
    padding: 7px 4px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        margin: 0 3px;
        border-radius: 100%;
        cursor: pointer;
        div{
            width: 30px;
            height: 30px;
        }
        .btn-zoom-in{ background-image: url('../images/controls/btn_zoom_aumentar_rollout.png'); }
        .btn-zoom-out{ background-image: url('../images/controls/btn_zoom_reducir_rollout.png'); }
        .btn-expand{ background-image: url('../images/controls/btn_pant_aumentar_rollout.png'); }
        .btn-expand-out{ background-image: url('../images/controls/btn_pant_reducir_rollout.png'); }
        &:hover{
            .btn-zoom-in{ background-image: url('../images/controls/btn_zoom_aumentar_rollover.png'); }
            .btn-zoom-out{ background-image: url('../images/controls/btn_zoom_reducir_rollover.png'); }
            .btn-expand{ background-image: url('../images/controls/btn_pant_aumentar_rollover.png'); }
            .btn-expand-out{ background-image: url('../images/controls/btn_pant_reducir_rollover.png'); }
        }
    }

    .line-control{
        color: #b5b5b4;
        margin: 0 8px;
        height: 25px;
        width: 2px;
        background-color: #b5b5b4;
    }
}

.content-popups{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    display: none;
    justify-content: center;
    align-items: center;
    .pop-up{
        position: relative;
        width: 60%;
        height: auto;
        border: 2px solid #bc05b7;
        border-radius: 8px;
        background-color: #1f140f;
        display: none;
        .btn-close{
            position: absolute;
            right: -20px;
            top: -20px;
            width: 40px;
            height: 40px;
            border-radius: 100%;

            button{
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: none;
                border-radius: 100%;
                cursor: pointer;
                .btn-close-pop{
                    width: 40px;
                    height: 40px;
                    background-image: url('../images/controls/btn_close_rollout.png');
                    background-size: cover;
                }
            }
            &:hover{
                .btn-close-pop{ background-image: url('../images/controls/btn_close_rollover.png'); }
            }

        }
        .pop-body{
            padding: 2rem 3rem;
            h3{
                font-family: 'Jarbomhollow';
                font-size: 1.4rem;
                color: #FFDD00;
                text-align: center;
            }
            video{
                margin: 1.5rem 0 1rem 0;
            }
            p{
                color: #fff;
                font-family: 'Myriadprod-Regular';
                font-size: 0.9rem;
            }
        }

        @media screen and (max-width: 768px) {
            width: 90%;
            .pop-body{
                padding: 1rem !important;
            }
        }
    }
}

#Preload{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000001;
    .preload-body{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            font-size: 4rem;
            color: #FFDD00;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #FFDD00;
        }
    }
}

.filter-blur{
    filter: blur(3px);
}